html {
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: white;
    min-height: 400px;
    border-radius: 10px;
    padding: 20px;
}

nav {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

nav ul {
    padding: 15px;
    padding-right: 210px;
    margin: 0px;
}

nav ul li {
    display: inline;
    padding-right: 15px;
}

nav a {
    text-decoration: none;
}

main {
    height: 65vh;
}

h4 {
    display: inline;
    vertical-align:bottom;
}

header {
    margin-left: 10px;
    margin-bottom: 10px;
}

footer::after {
    content: "© Copyright - Todos os direitos reservados";
}

